<!-- The c8y-title component will display the given string (here: "Hello") in the header as title -->
<c8y-title>Hello</c8y-title>
<div class="card">
  <div class="card-header separator">
    <h4 class="card-title">{{ introductionText }}</h4>
  </div>
  <div class="card-block">
    <ul>
      <li>Navigator (panel on the left)</li>
      <li><a href="#/tabs">Tabs</a></li>
      <li><a href="#/dashboards/custom">Dashboards</a></li>
      <li><a href="#/dynamic-forms/introduction">Dynamic forms</a></li>
      <li><a href="#/provider-configuration/introduction">Provider configuration</a></li>
      <li><a href="#/lazy/one">Lazy loading</a></li>
      <li><a href="#/translations/text-translation">Translation</a></li>
      <li><a href="#/data-grid">Data grid</a></li>
      <li>Global actions (top right corner (+)-Button)</li>
      <li>Local actions (within <a href="#/stepper">Stepper-page</a>)</li>
      <li>Fetching data (within <a href="#/list">List-page</a>)</li>
    </ul>
  </div>
</div>
